/*  Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Body Styles */
body {
  font-family: 'Varela Round', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F8F3EA;
}

/* Header Styles */
header {
  background-color: #A87768;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.logo img {
  margin-right: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  margin-right: 20px;
}

ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

header .Searchbar {
  width: 280px; /* Set a fixed width */
}

header .Searchbar input {
  width: 80%;  /* Make the input take up the entire container width */
}

/* Cart Styles */
.cart {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  margin-top: auto;
}

.cart h2 {
  font-family: 'Montserrat', sans-serif;
  color: #4C2C1E;
  margin-bottom: 20px;
  font-size: 50px;
}

/* Cart Item Styles */
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px 0;
  padding: 20px;
  height: 200px;
  border: 2px solid #F8F3EA;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* hide the default check box */
.item-checkbox {
  display: block;
  margin-right: 30px;   /* space between the checkbox and item detail */
}

/* Align checkbox beside cart item */
.cart-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Adjust spacing */
.custom-checkbox {
  margin-left: -30px; /* Adjust to align it properly */
}

/* User Info Section */
.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

.user-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-name {
  color: #5E3E1A;
  font-weight: bold;
  font-size: 16px;
}

.remove-item {
  background-color: transparent;
  color: #E74C3C;                /* red color */
  font-size: 20px;                 /* font size for "X" */
  border: none;
  cursor: pointer;
  padding: 0;
  font-weight: bold;
  position: absolute;
  top: 10px;
  margin-right: auto;                     /* position it at the top right corner */
}

.remove-item:hover {
  color: #C0392B;               /* change to darker red color */
}

/* Empty Cart Alert */
#empty-cart-alert {
  display: none;                  /* hidden by default */
  text-align: left;
  font-size: 20px;
  color: black;
  margin-top: 80px;
  border-radius: 10px;
}

/* Promo Codes Text */
.promo-codes {
  font-size: 15px;
  color: #C1958C;
  margin-top: 28px;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}

.promo-codes span {
  margin-top: 5px;
  white-space: nowrap;
}

/* Product Image Section */
.item-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-left: 280px;

}

.item-image {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
}

.item-quantity {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  margin-bottom: 170px;
  margin-left: -112px;
}

.item-quantity button {
  background-color: #F1E6D4;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.item-quantity button:hover
{
  background-color: #5E3E1A;
  color: white;
}

.brand-new-label {
  position: absolute;
  top: 30px;
  left: 60px;
  background-color: #F1E6D4;
  padding: 5px;
  border-radius: 5px;
  font-size: 10px;
  color: #5E3E1A;
}

/* Price Section */
.item-price {
  font-weight: bold;
  color: black;
  font-size: 18px;
  align-self: flex-end;
  margin-top: auto;
  margin-left: -90px;
}

/* Total Section */
.total-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 15px 20px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.select-all {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.total {
  font-size: 18px;
  font-weight: bold;
  color: #4D5978;
}

#checkout-btn {
  background-color: #A87768;
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}

#checkout-btn:hover
{
  background-color: #5E3E1A;
}

/* Styles for the Checkout Modal */
#checkout-modal {
  display: none;             /* hide modal by default */
  position: fixed;
  z-index: 1000;             /* ensure it's displayed on top of other content */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent dark background */
  display: flex; /* Flexbox to center */
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}


.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;                          
  max-width: 500px; 
  height: 80%; 
  overflow-y: auto;                         /* Allow scrolling if content overflows */
  box-sizing: border-box;
}

.close-btn {
  position: fixed;
  margin-top: 70px;
  margin-right: 340px;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  text-decoration: none;
  cursor: pointer;
}

/* Modal Content Box Styling */
.checkout-modal .modal-content {
  margin: 15% auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;        /* rounded corners for the modal */
  width: 60%;
  max-width: 800px;
}

/* Styles for the Close Button */
#close-modal {
  position: absolute;  /* position absolutely in the top right corner */
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #000;
  cursor: pointer;     /* change cursor to pointer */
}

/* Input Fields Styling */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="radio"] {
  width: 90%; 
  padding: 10px;            /* add padding inside the input field */
  margin: 10px 0;           /* space out the inputs vertically */
  border: 1px solid #ccc; 
  border-radius: 5px;       /* slightly rounded corners for inputs */
}

/* Labels for Input Fields */
label {
  font-weight: bold;        /* make label text bold */
  margin-top: 10px;
  display: block;           /* make labels block element to sit on their own lines */
}

/* Order summary section styling */
.order-summary {
  margin-top: 10px;         /* add space at the top */
  padding: 20px;
  background-color: #f4f4f4; 
  border-radius: 5px;       /* slightly rounded corners */
  width: 87%;
}

.product-item {
  display: flex;                       /* align name and price side by side */
  justify-content: space-between;      /* space between product name and price */
  margin-bottom: 10px;                 /* Space between products */
}

/* Apply style to the promo code section */
#promo-code {
  width: 70%; 
  display: inline-block;                /* display the input inline with the button */
}

#apply-coupon {
  display: inline-block;                /* display the apply coupon button next to the input field */
  padding: 10px 20px; 
  margin-bottom: 10px; 
  background-color: #C1958C; 
  color: white; 
  border: none; 
  border-radius: 5px;                   /* slightly rounded corners */
  cursor: pointer;                      /* change cursor to pointer when hovering over the button */
}

#apply-coupon:hover {
  background-color: #A87768; 
}

/* Place order button styling */
#place-order-btn {
  padding: 10px 20px; 
  background-color: #4D5978; 
  color: white; 
  border: none;                           /* remove border */
  border-radius: 5px;                     /* slightly rounded corners */
  cursor: pointer;                        /* change cursor to pointer to show it’s clickable */
  display: block;                         
  width: 93%; 
}

#place-order-btn:hover {
  background-color: #4C2C1E;
}

/* Close Modal when Clicking Outside Of it */
.checkout-modal {
  display: none;                            /* hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);    
}

/* Footer Styles */
footer {
  background-color: #A87768;
  padding: 40px 20px;
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo img {
  width: 40px;
  height: 40px;
}

.footer-logo p {
  margin-left: 10px;
  font-size: 14px;
}

.footer-links ul,
.footer-legal ul {
  list-style-type: none;
  display: flex;
}

.footer-links li,
.footer-legal li {
  margin-right: 20px;
}

.footer-links li a,
.footer-legal li a {
  color: white;
  text-decoration: none;
}

.footer-contact p {
  font-size: 14px;
}

.footer-logo {
  flex: 2;
  display: flex;
  align-items: center;
}

.footer-links {
  flex: 2;
}

.footer-contact {
  flex: 3;
}

.footer-legal {
  flex: 2;
}
